
<div class="banner">
  <h1>My Watchlist</h1>
  <p><%= link_to "Add watchlist", new_list_path %></p>
</div>

<div class="container">
  <div class="card-container mt-3">

  <% @lists.each do |list| %>
    <div class="cards">
      <h3><%= link_to list.name, list_path(list.id) %></h3>
    </div>
  <% end %>

  </div>
</div>
